*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    height: 72px;
    
    background-color: white;
    
}
h3{
    font-size: 25px;
}
#logo{
    display: none;
    width: 7%;
    height: 7%;
}
#title{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
}
#titlelink{
    text-decoration: none;
    color: rgb(28, 117, 152);
}
#menubutton{
    background-color: transparent;
    border: none;
    color: rgb(28, 117, 152);
}
.headerbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}
#loginbutton{
    border: none;
    background-color: transparent;
    padding: 0.5rem;
}
#loginlink{
    text-decoration: none;
    color: rgb(28, 117, 152);
    font-size: 1rem;
}
#callbutton{
    border: none;
    background-color: transparent;
    padding: 0.5rem;
}
#calllink{
    text-decoration: none;
    color: rgb(28, 117, 152);
    font-size: 1rem;
}
#searchbutton{
    border: none;
    background-color: transparent;
    padding: 0.5rem;
}
#searchlink{
    text-decoration: none;
    color: rgb(28, 117, 152);
    font-size: 1rem;
}
body{
    background-color: ivory;
}
#mainimage{
    width: 100%;
}
.section1{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
}
.paragragh1{
    text-align: justify;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: "Poppins", sans-serif;
    padding-top: 2rem;
    
}
.heading1{
    font-family: "Poppins", sans-serif;
    line-height: 2.5rem;
    font-size: 40px;
}
.list{
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    font-family: "Poppins", sans-serif;
    
}
.featureslist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: "Poppins", sans-serif;
}
.featurepara{
    text-align: center;
    font-size: 14px;
}
.section3{
    padding-top: 3rem;
    font-family: "Poppins", sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: solid thin tan ;
    margin: 1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    
}
.inputsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 2rem;
    
}
.inputbar{
    width: 150%;
    padding: 0.25rem 3rem 0.25rem 0.5rem;
}
.formbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    
    width: 150%;
}
.otpbutton{
    color: white;
    background-color: green;
    padding: 0.5rem;
    border: solid black;
    border-width: thin;
    border-radius: 0.5rem
    
}

.registerbutton{
    color: white;
    background-color: green;
    padding: 0.5rem;
    border: solid black;
    border-width: thin;
    border-radius: 0.5rem
}

#formimage{
    width: 100%;
    display: none;
    
}
.section4{
    font-family: "Poppins", sans-serif;
    padding-top: 3rem;
}
#number{
    font-size: 40px;
}
#span{
    font-size: 30px;
}
.feedbacksection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.feedbackcard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid thin tan;
    padding: 0.5rem;
    margin: 1rem;
    background-color: gainsboro;
}
.rating{
    display: flex;
    flex-direction: row;
    color: orange;
}
#footerlogo{
    width: 20%;
    height: 20%;
}
#socialmedia{
    width: 20%;
    height: 20%;
}
.footersection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
    font-family: "Poppins", sans-serif;
    background-color: rgb(28, 117, 152);
    color: white;
}
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 0.5rem;
   padding-top: 2rem;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 2rem;
}
.socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}




/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    #menubutton{
        display: none;
    }
    .headerbutton{
        display: flex;
    }
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        max-height: 400px;
    }
    
    #formimage{
        display: flex;
    }
    .parent{
        position: relative;
    }
    .form{
        position: absolute;
        right: 250px;
        top: 50px;
        padding: 2rem; 
    }
    .container{
        position: fixed;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .feedback{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #logo{
        display: flex;
        flex-direction: row;
    }
    #logo{
        display: block;

    }
    .logotitle{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .locationandcontact{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10rem;
    }
    #footerlogo{
        height: 50%;
        width: 50%;
        padding-top: 1rem;
    }
   .socialmedia{
    padding-top: 5rem;
    gap: 0.25rem;
    color: rgb(193, 193, 193);
   }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}
